## tuples

In [2]:
##tuples are ordered collections of items that are immutable .
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [5]:
lst=list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
## list can be converted to tuple vice verca

numbers=tuple([1,2,3,4,1])
numbers

(1, 2, 3, 4)

In [8]:
list((1,2,3,4))

[1, 2, 3, 4]

In [21]:
mixed_tuples=tuple((1,"test",True))
print(mixed_tuples)

(1, 'test', True)

In [22]:
## acessing elements
mixed_tuples[2]

True

In [23]:
##tuple operations
numbers+mixed_tuples

(1, 2, 3, 4, 1, 'test', True)

In [24]:
mixed_tuples*3

(1, 'test', True, 1, 'test', True, 1, 'test', True)

In [25]:
numbers*4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [26]:
##immutable nature of tuple
## elements cannot changed once it is assigned
lst=[1,2,3]
lst[2]=44
tup=tuple(lst)
tup[2]='akbar'

TypeError: 'tuple' object does not support item assignment

In [29]:
##tuple methods
print(numbers.count(1))

1

In [30]:
## packing and unpacking tuples
##packing
packed=1,'hello',False
packed

(1, 'hello', False)

In [34]:
##unpacked tuples
a,b,d=packed
print(a)
print(b)
print(d)

1
hello
False

In [35]:
## unpacking with stars *
nums=(1,2,3,4,5,6)
first,*middle,last=nums
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [38]:
## nested tuples
## nested list
list=[[1,2],[True,False],["test",'Ok']]
list[-1][1]

'Ok'

In [43]:
nested_tup=((1,2,3),('hello','ok','welcome'),(True,True,False))
nested_tup[1][1]

'ok'

In [45]:
##iterating 
for val in nested_tup:
    for val1 in val:
        print(val1,end=" ")
    print()

1 2 3
hello ok welcome
True True False