## dictionaries are unordered collections of items which are stored in key value paris key must be unique and immutable

In [1]:
## creating dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [4]:
empty_dict1=dict()
student={"name":"Akbar","isStudent":True}
student

{'name': 'Akbar', 'isStudent': True}

In [8]:
##Error
student={"name":"Akbar","isStudent":True,"age":23,"age":14}
student

{'name': 'Akbar', 'isStudent': True, 'age': 14}

In [14]:
## acessing elements
student['name']

##acessing using get() method

print(student.get("age"))
print(student.get('grade'))

##print(student['grade'])

## giving default values
print(student.get('grade',"Not Available"))

14
None
Not Available

In [17]:
## modifying elements
##dict are mutable
student['age']=99
student['address']='mumbai'
print(student)

{'name': 'Akbar', 'isStudent': True, 'age': 99, 'address': 'mumbai'}

In [18]:
## delete 
del student['age']
student

{'name': 'Akbar', 'isStudent': True, 'address': 'mumbai'}

In [21]:
## dict methods
student.keys()  ## get all keys
student.values()## get all values

student.items() ## get all key value pairs

dict_items([('name', 'Akbar'), ('isStudent', True), ('address', 'mumbai')])

In [ ]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Akbar', 'isStudent': True, 'address': 'mumbai'}
{'name': 'Akbar', 'isStudent': True, 'address': 'mumbai'}

In [23]:
student_copy['name']='rizvi'
print(student)
print(student_copy)

{'name': 'rizvi', 'isStudent': True, 'address': 'mumbai'}
{'name': 'rizvi', 'isStudent': True, 'address': 'mumbai'}

In [ ]:
student_copy=student.copy()  ## allocates different memory
student_copy["name"]='mohd'
print(student)
print(student_copy)

{'name': 'rizvi', 'isStudent': True, 'address': 'mumbai'}
{'name': 'mohd', 'isStudent': True, 'address': 'mumbai'}

In [26]:
## Iterating over dict
##Iterating over keys
for keys in student.keys():
    print(keys)

name
isStudent
address

In [27]:
## Iterate over values
for val in student.values():
    print(val)

rizvi
True
mumbai

In [ ]:
## Iterate over pairs
for key,val in student.items():
    print(key,val)

name rizvi
isStudent True
address mumbai

In [29]:
## Nested dict
students={
    "student1":{
        "name":"Akbar",
        "age":23
    },
    "student2":{
        "name":"Mohd",
        "age":13
    }
}
print(students)

{'student1': {'name': 'Akbar', 'age': 23}, 'student2': {'name': 'Mohd', 'age': 13}}

In [31]:
## acess nested dict
print(students["student2"]["name"])

Mohd

In [34]:
##Iterating 
for stud_id,stud_info in students.items():
    print(f"{stud_id}:{stud_info}")
    for idx,val in stud_info.items():
        print(f"{idx}:{val}")

student1:{'name': 'Akbar', 'age': 23}
name:Akbar
age:23
student2:{'name': 'Mohd', 'age': 13}
name:Mohd
age:13

In [36]:
## dict comprehension
{x:x**2 for x in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [37]:
## condtional dict comprehnsion
{x:x**2 for x in range(11) if x%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [38]:
## freqency of every elements in a list
numbers=[1,2,2,3,3,3,4,4,4,4,5]
freq={}
for num in numbers:
    if num in freq:
        freq[num]+=1
    else:
        freq[num]=1

print(freq)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 1}

In [ ]:
## merge two dict
dict1={"a":1,"b":3}
dict2={"c":23,"d":45}
merged={**dict1,**dict2}   ## * is a keyword arguemnt

merged

{'a': 1, 'b': 3, 'c': 23, 'd': 45}