declaring and assigning varibales

In [1]:
age=12
name="akbar"
isStudent=True

print(age,name,isStudent)

12 akbar True

naming convention

varibale name can be start from underscore or letter and containe letters number and underscore
it is case sensitive

In [3]:
first_name="akbar"
2age=34
 
 #invalid

SyntaxError: invalid decimal literal (3687564567.py, line 2)

In [5]:
name='Akbar'
Name="mohd"
name==Name

False

In [6]:
## variable types

In [7]:
## varibale types
## python is dynamically typed ,types of varibales are determined during the run times

ag4=33
height=6.3
name='akbar'
isStudent=False

In [8]:
## type checking and conversion

In [9]:
## type checking and conversion

type(height)

float

In [12]:
## type conversion
height_str=str(height)
print(height_str,type(height_str))

6.3 <class 'str'>

In [15]:
age='34'
age2=int(age)
print(type(age2))

<class 'int'>

In [17]:
## Dynamic typing
## python allows the types of a varibale to chnage as the program executes

var=34
print(var,type(var))

var='test'
print(var,type(var))

34 <class 'int'>
test <class 'str'>

In [21]:
num1=float(input('Enter the  first number'))
num2=float(input('Enter the second number'))

sum=num1+num2
sub=num1-num2
div=num1/num2
mul=num1*num2
rem=num1%num2
print('sum',sum)
print('sub',sub)
print('div',div)
print('mul',mul)
print('rem',rem)

sum 12.0
sub 8.0
div 5.0
mul 20.0
rem 0.0